body {
    font-family: 'Montserrat', sans-serif;
    background-color: #84A178;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .container {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  
    @media screen and (min-width: 480px) {
      width: 480px;
    }
    @media screen and (min-width: 768px) {
      width: 768px;
    }
    @media screen and (min-width: 1200px) {
      width: 1200px;
    }
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  

  .link {
    text-decoration: none;
    color: currentColor;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

 .slider{
width: 279px;
height: 130.03px;
left: 20px;
top: 3970.37px;
overflow: hidden;
border-radius: 7.40681px;
 }
 .midle{
position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 }
 .navigation{
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
 }
 .bar{
  width: 15px;
  height: 5px;
  margin: 6px;
  cursor: pointer;
  background-color:gray;
  opacity:  .5;
  border-radius: 3px;
  transition: all .4s ease;
 }
 .bar:hover{
  opacity: 0.8;
  transform: scale(1.1);
 }
 input[name = "r"]{
  position: absolute;
  visibility: hidden;
 }

 .sliders{
  width: 400%;
  height: 100%;;
  display: flex;
 }
 .slide{
  width: 25%;
  transition: all .6s ease;
 }
 .slide img{
  width: 100%;
  height: 100%;
 }
 #r1:checked ~ .s1{
  margin-left: 0%;
 }
 #r2:checked ~ .s1{
  margin-left: -25%;
 }
 #r3:checked ~ .s1{
  margin-left: -50%;
 }